/* Added to components in app.component.html */
.grid {
  margin-top: 16px;
}

.color-picker {
  margin-top: 16px;
}

.color-grid-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}